.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 8px 12px;
      color: #ffffff;
      font-family: 'Akrobat-ExtraLight';
      font-size: 18px;
      font-weight: 700;
      line-height: 143%;
      border-radius: 8px;
      transition: all .3s;
      border: 1px dotted transparent;
      &:hover {
        border-color: #fff;
      }
    }
    &.active {
      a {
        border: 1px dotted #fff;
      }
    }
  }
  @include md_960 {
    &__item {
      a {
        font-size: 17px;
        padding: 5px 8px;
      }
    }
  }
  @include sm_690 {
    transform: translateX(-120%);
    transition: transform .4s;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    box-shadow: 0 0 34px 1px #B7561B;
    padding: 49px 0 20px 0;
    margin: 0;
    background-color: #fff;
    width: 55%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &.open {
      transform: translateX(0);
    }
    &.close {
      transform: translateX(-120%);
    }
    &__item {
      margin: 0;
      width: 100%;
      a {
        color: #000;
        display: inline-block;
        width: 100%;
        padding: 12px 12px;
        font-size: 20px;
        border-radius: 0;
      }
      &.active a {
        background-color: rgba(190,90,25,.7);
        border: none;
      }
    }
  }
  @include xs_540 {
    width: 80%;
  }
}

.nav-mobile{
  &__wrap {

  }
}
.menu-open {
  display: none;
  cursor: pointer;
  padding: 2px;
  span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  @include sm_690{
    display: inline-block;
  }
}
.menu-close {
  display: none;
  color: #D18B5E;
  font-size: 37px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Akrobat-Bold';
  padding: 6px;
  line-height: 1;
  transform: rotateZ(40deg);
  position: absolute;
  right: 10px;
  top: -4px;
  @include sm_690 {
    display: inline-block;
  }
}
